// Support
@import 
    "tools/tools"
;

.site-title {
    @include mq(md) {
        height: 140px;
    }
}

.navigation {
    @include mq(md) {
        padding-top: $sp-14;
        overflow-y: auto;
        flex: 1 1 auto;
    }
}

h4 {
    font-size: initial !important;
    text-transform: inherit;
    letter-spacing: inherit;
    font-weight: 500;
}
